<p>Usted esta en la seccion de profesores :)</p>
<h1>Profesores</h1>
<button [routerLink]='["/profesores-agregar"]' class="btn btn-primary">
  Agregar Profesor
</button>
<p *ngIf="! ( ListadoProfesores && ListadoProfesores.length)">
  No existen Profesores cargados en el sistema

</p>



<table class="table table-striped" *ngIf="(ListadoProfesores && ListadoProfesores.length) ">
  <thead class="thead-dark">
    <tr>
      <th>DNI</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Mail</th>
      <th>Telefono</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr class="" *ngFor="let profesor of ListadoProfesores">
      <td>{{ profesor.dni }}</td>
      <td>{{ profesor.nombre }}</td>
      <td>{{ profesor.apellido }}</td>
      <td>{{ profesor.mail }}</td>
      <td>{{ profesor.telefono }}</td>
      <td>
        <button class="btn btn-primary" [routerLink]='["/profesores-editar/" + profesor.dni ] '>Modificar</button>
        <button class="btn btn-danger" (click)="eliminarProfesor(profesor)">Borrar</button>
        <button class="btn btn-warning" [routerLink]='["/profesores-seminarios/" + profesor.dni ] '><i class="fa fa-search"></i>Seminarios que dicta</button>
      </td>
    </tr>
  </tbody>
</table>
