<h3>Asociar profesor a seminarios que va a dictar</h3>
<button [routerLink]='["/profesores"]' class="btn btn-primary" style="background-color:lightslategrey">
  Volver
</button>

<div *ngIf="Profesor">
  <div class="form-group">
    <label class="font-weight-bolder">ID:</label>
    <label>{{Profesor.dni}}</label>
  </div>

  <div class="form-group">
    <label class="font-weight-bolder">Nombre:</label>
    <label>{{Profesor.nombre}}</label>
  </div>
  <div class="form-group">
    <label class="font-weight-bolder">Apellido:</label>
    <label>{{Profesor.apellido}}</label>
  </div>
</div>



<div class="form-inline">
  <label class="font-weight-bolder" for="ComboSeminarios">Asociar el profesor al seminario</label>

  <select class="form-control" id="ComboSeminarios"
          [ngModel]="ListadoSeminariosCombo" (change)="cambioSeminarios($event);"
          required name="ComboSeminarios">
    <option *ngFor="let semi of ListadoSeminariosCombo" [value]="semi.id">Seminario: {{ semi.descripcion }} - Precio: {{semi.precio}} </option>
  </select>


  <button class="btn btn-primary" (click)='guardarAsociacion()' style="background-color:lightseagreen">Asociar</button>
</div>



<p *ngIf="! ( ListadoSeminariosDictados && ListadoSeminariosDictados.length)">
  Todavia no esta asociado el profesor a ningun asociado
</p>
<table class="table table-striped" *ngIf="(ListadoSeminariosDictados && ListadoSeminariosDictados.length) ">
  <thead class="thead-dark">
    <tr>
      <th>Id Curso</th>
      <th>Descripcion</th>
      <th>Duracion (N° Clases)</th>
      <th>Precio</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-secondary" *ngFor="let semi of ListadoSeminariosDictados">
      <td>{{ semi.id }}</td>
      <td>{{ semi.descripcion }}</td>
      <td>{{ semi.duracion }}</td>
      <td>{{ semi.precio }}</td>
      <td>
        <button class="btn btn-danger"  style="background-color:lightcoral" (click)="borrarAsociacion(semi.id)"><span class="fa fa-trash">Borrar</span></button>
      </td>
    </tr>
  </tbody>
</table>


