<h3>Listado de Socios</h3>
<button [routerLink]='["/socios-agregar"]' class="btn btn-primary" style="background-color:lightgreen">
  Agregar Socio
</button>
<p *ngIf="! ( ListadoSocios && ListadoSocios.length)">
  No existen Socios

</p>



<table class="table table-striped" *ngIf="(ListadoSocios && ListadoSocios.length) ">
  <thead class="thead-dark">
    <tr>
      <th>Id</th>
      <th>Nombre</th>
      <th>Fecha Nacimiento</th>
      <th>Telefono</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-secondary" *ngFor="let socio of ListadoSocios">
      <td>{{ socio.id }}</td>
      <td>{{ socio.nombre }}</td>
      <td>{{ socio.fechaNacimiento | date: 'dd/MM/yyyy' }}</td>
      <td>{{ socio.telefonoContacto }}</td>
      <td>
        <button class="btn btn-primary" style="background-color:lightblue"  [routerLink]='["/socios-editar/" + socio.id ] '>Modificar</button>
        <button class="btn btn-danger" style="background-color:lightcoral" (click)="eliminarSocio(socio)">Borrar</button>
        <button class="btn btn-warning" style="background-color:lightgoldenrodyellow" [routerLink]='["/socios-seminarios/" + socio.id ] '><i class="fa fa-search"></i>Mostrar Seminarios</button>
      </td>
    </tr>
  </tbody>
</table>
